//Grey
// $main-color: #dbdbdb;
// $extra-color: #000000;
// $icon-color: #8f8f8f;
// $dark-shadow: #4e4e4e;
// $light-shadow: #000000;

//Neon purple
// $main-color: #db009a;
// $extra-color: #f138d3;
// $icon-color: #000000;
// $dark-shadow: #3f003f;
// $light-shadow: #58fff7;

//Neon blue 
// $main-color: #1fc49a;
// $extra-color: #0482b4;
// $icon-color: black;
// $dark-shadow: #0a5658;
// $light-shadow: #ff0077;

//Green 
// $main-color: #106634;
// $extra-color: #006e12;
// $icon-color: #effff2;
// $dark-shadow: #003002;
// $light-shadow: #062500;

//Red red yellow
// $main-color: #580400;
// $extra-color: #ff655b;
// $icon-color: #3f002c;
// $dark-shadow: #460300;
// $light-shadow: #ffc70e;

//Yellow black purple
// $main-color: #ffb617;
// $extra-color: #ffb224;
// $icon-color: #00152e;
// $dark-shadow: #050505;
// $light-shadow: #ff2cff;

//Blue white red 
// $main-color: #023fb1;
// $extra-color: #2622e6;
// $icon-color: #ffffff;
// $dark-shadow: #050505;
// $light-shadow: #860000;

//Black
// $main-color: #000000;
// $extra-color: #242424;
// $icon-color: #ffffff;
// $dark-shadow: #969696;
// $light-shadow: #000000;

//Black yellow
// $main-color: #000000;
// $extra-color: #ffa600;
// $icon-color: #1b1b1b;
// $dark-shadow: #473700;
// $light-shadow: #ffa600;

//Black neon blue purple
// $main-color: #000000;
// $extra-color: #32ffc1;
// $icon-color: #000000;
// $dark-shadow: #00343d;
// $light-shadow: #da00c7;

//Black neon purple blue
// $main-color: #000000;
// $extra-color: #da00c7;
// $icon-color: #000000;
// $dark-shadow: #3d0035;
// $light-shadow: #32ffc1;

// Black white red
// $main-color: #000000;
// $extra-color: #ffffff;
// $icon-color: #000000;
// $dark-shadow: #181818;
// $light-shadow: #ff0000;

//Black white blue
$main-color: #000000;
$extra-color: #ffffff;
$icon-color: #000000;
$dark-shadow: #181818;
$light-shadow: #28fff4;