//Grey
// $main-color: #ffffff;
// $extra-color: #000000;
// $icon-color: #8f8f8f;
// $dark-shadow: #858585;
// $light-shadow: #000000;
// $selected-shodow: #ffffff;

//Neon purple
// $main-color: #c000c0;
// $extra-color: #f292ff;
// $icon-color: #000000;
// $dark-shadow: #3f003f;
// $light-shadow: #58fff7;
// $selected-shodow: #fcb0ff;

//Neon blue 
// $main-color: #1fc49a;
// $extra-color: #0482b4;
// $icon-color: black;
// $dark-shadow: #0a5658;
// $light-shadow: #ff0077;
// $selected-shodow: rgb(253, 173, 220);

// Green 
// $main-color: #33aa65;
// $extra-color: #004d0d;
// $icon-color: #062500;
// $dark-shadow: #004102;
// $light-shadow: #8fff94;
// $selected-shodow: #4aff53;

//Red
// $main-color: #7e0701;
// $extra-color: #850900;
// $icon-color: #ffcdcf;
// $dark-shadow: #460300;
// $light-shadow: #ff2b2b;
// $selected-shodow: #ffb3b3;

// Yellow black blue
// $main-color: #ffb617;
// $extra-color: #ffb224;
// $icon-color: #00152e;
// $dark-shadow: #050505;
// $light-shadow: #2cffe3;
// $selected-shodow: gold;

// // Ultramarines style 
// $main-color: #023fb1;
// $extra-color: #2622e6;
// $icon-color: #ffffff;
// $dark-shadow: #050505;
// $light-shadow: #d40000;
// $selected-shodow: #c40000;


//Black
// $main-color: #000000;
// $extra-color: #242424;
// $icon-color: #ffffff;
// $dark-shadow: #969696;
// $light-shadow: #000000;
// $selected-shodow: #ffffff;

// //Black yellow
// $main-color: #000000;
// $extra-color: #ffa600;
// $icon-color: #000000;
// $dark-shadow: #ffcb1f;
// $light-shadow: #ffa600;
// $selected-shodow: #ffe880;

// //Black neon blue purple
// $main-color: #000000;
// $extra-color: #32ffc1;
// $icon-color: #000000;
// $dark-shadow: #00343d;
// $light-shadow: #da00c7;
// $selected-shodow: rgb(255, 61, 255);

// //Black neon purple blue
// $main-color: #000000;
// $extra-color: #da00c7;
// $icon-color: #000000;
// $dark-shadow: #3d0035;
// $light-shadow: #32ffc1;
// $selected-shodow: #8bf1ff;

// //Black white red
// $main-color: #000000;
// $extra-color: #ffffff;
// $icon-color: #000000;
// $dark-shadow: #181818;
// $light-shadow: #ff0000;
// $selected-shodow: gold;

// //Black white blue
$main-color: #000000;
$extra-color: #ffffff;
$icon-color: #28fff4;
$dark-shadow: #181818;
$light-shadow: #28fff4;
$selected-shodow: rgb(94, 255, 242);

// Black white green
// $main-color: #000000;
// $extra-color: #f5ffec;
// $icon-color: #6fff6f;
// $dark-shadow: #181818;
// $light-shadow: #9fff79;
// $selected-shodow: rgb(116, 223, 116);